@using EntityLayer.Concrete;
@model Category
@{
    ViewData["Title"] = "Add";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Kategori Ekle</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Add", "Category", FormMethod.Post))
                {
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Kategori Adı</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-category"></i>
                                </span>


                                @Html.TextBoxFor(x=>x.Name,new{@class="form-control",@id="basic-icon-default-fullname"})

                            </div>
                            @Html.ValidationMessageFor(x=>x.Name,null,new{@class="text-danger"})
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Kategori Açıklaması</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>

                                @Html.TextAreaFor(x=>x.Description,new{@class="form-control",@id="basic-icon-default-message",@rows="1"})
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">
                                <span class="tf-icons bx bx-plus"></span>Ekle
                                </button>
                            <button type="reset" class="btn btn-danger">
                                <span class="tf-icons bx bx-brush-alt"></span>Temizle
                                </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert">
        Eklemeye çalıştığınız kategori mevcut
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>