@using EntityLayer.Concrete;
@model Category
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid p-0 p-md-3">
    <div class="row p-0 mt-3">
        <div class="col">
            <form method="post" id="categoryCreate">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Kategori Adı</label>
                    <input type="text"
                           class="form-control shadow-sm"
                           id="exampleInputPassword1"
                           name="Name" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1"
                           class="form-label">Kategori Açıklama</label>
                    <textarea class="form-control shadow-sm"
                              id="exampleFormControlTextarea1"
                              name="Description"
                              rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
                <button type="reset" class="btn btn-danger">
                    Temizle
                </button>
            </form>
        </div>
    </div>
</div>
