@using EntityLayer.Concrete;
@model Category
@{
    ViewData["Title"] = "Details";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Kategori Ekle</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Kategori Adı</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-category"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="basic-icon-default-fullname"
                                       name="Name"
                                       value="@Model.Name"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Kategori Açıklaması</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>
                                <textarea id="basic-icon-default-message"
                                          class="form-control"
                                          rows="1"
                                          name="Description"
                                          aria-label="Hi, Do you have a moment to talk Joe?"
                                          aria-describedby="basic-icon-default-message2">@Model.Description</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">
                                <span class="tf-icons bx bx-check"></span>Tamamla
                            </button>
                            <a href="/Category/Index" class="btn btn-warning">
                            <span class="tf-icons bx bx-arrow-back"></span>Geri    
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>