@using EntityLayer.Concrete;
@model List<Table>
@{
    ViewData["Title"] = "Index";
}
<div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Masa /</span> Masa Listeleme</h4>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Kategoriler</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Masa</th>
                        <th>Durum</th>
                        <th>Sipariş Durumu</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Masa-@item.Id</strong>
                            </td>
                            @if (item.Status)
                            {
                                <td><span class="badge bg-label-success me-1">Aktif</span></td>
                            }
                            else
                            {
                                <td><span class="badge bg-label-danger me-1">Kapalı</span></td>
                            }
                            <td>@item.Id</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        @if (item.Status)
                                        {
                                            <a class="dropdown-item" href="/Table/Status/@item.Id"><i class="bx bx-lock-alt me-2"></i> Masayı Kapat</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="/Table/Status/@item.Id"><i class="bx bx-lock-open-alt me-2"></i> Masayı Aç</a>
                                        }
                                        <a class="dropdown-item" href="/Table/Details/@item.Id"><i class="bx bx-edit-alt me-2"></i> Düzenle</a>
                                        <a class="dropdown-item" href="/Table/Delete/@item.Id"><i class="bx bx-trash me-2"></i> Sil</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
    <a href="/Table/Add" class="btn btn-primary mt-3 w-100 d-inline-flex align-items-center justify-content-center">
        <span class="tf-icons bx bx-plus-circle me-1"></span>&nbsp; Masa Ekle
    </a>
</div>
