@using EntityLayer.Concrete
@model List<TableOrder>
@{
    ViewData["Title"] = "History";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Masa Siparişi /</span> Tüm Siparişler</h4>
    <div class="row">
        <div class="col-12 col-md-8 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start 1justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <i class='bx bx-search-alt-2 text-success'></i>
                        </div>
                        Sipariş Ara
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="5075452953 veya 02.02.2022" aria-label="Text input with dropdown button">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Arama Yöntemi
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="">
                            <li><a class="dropdown-item" href="javascript:void(0);">Garsona göre</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Sipariş zamanına göre</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modalCenter">Arama yöntemi nasıl seçilir?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <i class="bx bxs-bar-chart-alt-2 text-primary"></i>
                        </div>
                    </div>
                    <span class="d-block mb-1">Toplam Sipariş</span>
                    <h3 class="card-title text-nowrap mb-2">
                        @Model.Count() Adet
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mb-4 mb-md-0">
        <div class="card">
            <h5 class="card-header">Tüm Telefon Siparişleri</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Masa</th>
                            <th>Garson Adı</th>
                            <th>Sipariş Zamanı</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            int i = 1;
                            <tr>
                                <th scope="row">Masa-@item.TableId</th>
                                <td>@item.Staff.Name @item.Staff.Surname</td>
                                <td>@item.OrderTime</td>
                                <td>
                                    <div class="dropdown" style="position:inherit">
                                        <button type="button"
                                            class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                           href="/TableOrder/Details/@item.Id">
                                                <i class="bx bx-edit-alt text-primary me-2"></i>
                                                İncele
                                            </a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalToggleLabel">Arama Yöntemi Seçimi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Siparişler tablosunda müşterinin telefon numarasına göre arama yapılırsa tek sonuç döner. Zaman seçilirse seçilen tarihteki tüm siparişler döner...</div>
        </div>
    </div>
</div>