@using EntityLayer.Concrete;
@model Product
@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid p-0 p-md-3">
    <div class="row p-0 mt-3">
        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1"
                           class="form-label">Ürün Adı</label>
                    <input type="text"
                           class="form-control shadow-sm"
                           id="exampleInputEmail1"
                           value="@Model.Name"
                           aria-describedby="emailHelp" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ürün Fiyatı ₺</label>
                    <input type="text"
                           value="@Model.Price"
                           class="form-control shadow-sm"
                           id="exampleInputPassword1" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputSelect" class="form-label">Ürün Kategori</label>
                    <select class="form-select shadow-sm"
                            aria-label="Default select example"
                            id="exampleInputSelect">
                        <option selected>@Model.Category.Name</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1"
                           class="form-label">Ürün Açıklama</label>
                    <textarea class="form-control shadow-sm"
                              id="exampleFormControlTextarea1"
                              rows="3">@Model.Description</textarea>
                </div>
                <div class="mb-3">
                    @if (Model.Status)
                    {
                        <div class="form-check">
                            <input class="form-check-input"
                               type="radio"
                               name="flexRadioDefault"
                               checked
                               id="flexRadioDefault1" />
                            <label class="form-check-label" for="flexRadioDefault1">
                                Açık Ürün
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                               type="radio"
                               name="flexRadioDefault"
                               id="flexRadioDefault2" />
                            <label class="form-check-label" for="flexRadioDefault2">
                                Kapalı Ürün
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check">
                            <input class="form-check-input"
                               type="radio"
                               name="flexRadioDefault"
                               id="flexRadioDefault1" />
                            <label class="form-check-label" for="flexRadioDefault1">
                                Açık Ürün
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                               type="radio"
                               name="flexRadioDefault"
                               checked
                               id="flexRadioDefault2" />
                            <label class="form-check-label" for="flexRadioDefault2">
                                Kapalı Ürün
                            </label>
                        </div>
                    }
                </div>

                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
                <button type="submit" class="btn btn-danger">
                    Ürünü Sil
                </button>
            </form>
        </div>
    </div>
</div>