@using EntityLayer.Concrete;
@model VMRegion
@{
    ViewData["Title"] = "Index";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Bootstrap Table -->
    <div class="card mb-3">
        <h5 class="card-header">Mahalleler</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mahalle Adı</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.districts)
                    {
                        <tr>
                            <td>
                                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>@item.Name</strong>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Region/Index?districtId=@item.Id"><i class="bx bx-edit-alt me-2"></i> Sokakları Gör</a>
                                        <a class="dropdown-item" href="/Customer/Details/@item.Id"><i class="bx bx-edit-alt me-2"></i> Düzenle</a>
                                        <a class="dropdown-item" href="/Customer/Delete/@item.Id"><i class="bx bx-trash me-2"></i> Sil</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
    <!-- Basic Bootstrap Table -->
    @if (Model.streets.Count > 0)
    {
        <div class="card">
            <h5 class="card-header">Sokaklar</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sokakların Adı</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model.streets)
                        {
                            <tr>
                                <td>
                                    <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>@item.Name</strong>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/Customer/Details/@item.Id"><i class="bx bx-edit-alt me-2"></i> Düzenle</a>
                                            <a class="dropdown-item" href="/Customer/Delete/@item.Id"><i class="bx bx-trash me-2"></i> Sil</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            Bu mahallede sokak bulunmuyor!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <!--/ Basic Bootstrap Table -->
</div>