@{
    ViewData["Title"] = "Add";
}

@using EntityLayer.Concrete;
@model List<Category>

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Accordion -->
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="nav-align-top">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="false">
                            Ürün Seçimi
                        </button>
                    </li>
                    @foreach (var item in Model)
                    {
                            <li class="nav-item">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-@item.Name" aria-controls="navs-top-home" aria-selected="false">
                                @item.Name
                                </button>
                            </li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="navs-top-home" role="tabpanel">
                        <p>
                            Ürün seçimi bilgi
                        </p>
                        <p class="mb-0">
                            Ürün seçimi nasıl çalışır
                        </p>
                    </div>
                    @foreach (var item in Model)
                    {
                            <div class="tab-pane fade" id="navs-top-@item.Name" role="tabpanel">

                                <div class="container-product">
                                @foreach (var p in item.Products)
                                {
                                            <div class="input-row-product">
                                                <div class="title-product">
                                                    <h2 class="label-product">@p.Name</h2>
                                                    <p class="description-product fw-bold">@p.Price ₺</p>
                                                </div>
                                                <div class="input-product">
                                                    <button class="minus btn-counter" aria-label="Decrease by one" disabled>
                                                        <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <line y1="1" x2="16" y2="1" stroke="#0064FE" stroke-width="2" class="icon-product" />
                                                        </svg>

                                                    </button>
                                                    <div class="number-product dim">0</div>
                                                    <button class="plus btn-counter" aria-label="Increase by one">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="plus">
                                                            <line x1="8" y1="4.37114e-08" x2="8" y2="16" stroke="#0064FE" stroke-width="2" />
                                                            <line y1="8" x2="16" y2="8" stroke="#0064FE" stroke-width="2" />
                                                        </svg>

                                                    </button>
                                                </div>
                                            </div>

                                }
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Sepet
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <!--sepet-->
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--/ Accordion -->
    <!--/ Advance Styling Options -->
</div>

<script src="/js/productBucket.js"></script>